.cell {
    height: 100px;
    border: 2px solid black;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.loading {
    background-color: lightgray;
}